/* * {
    outline: 1px solid red;
}
 */

body {
    font-family: Raleway, sans-serif;
}

.nav a {
    color: white !important;
}

.full-height {
    height: 100vh;
}

.header {
    position: relative;
    height: 70vh;
    background-image: url("images/background-header-md.jpg");
    background-size: cover;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about h2 {
    font-size: 5rem;
}

.cube {
    position: absolute;
    bottom: 75px;
    left: calc(50% - 75px);
}

.cube-outer {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px dotted black;
}

.cube-outer p {
    position: relative;
    top: calc(50% - 16px);
    font-size: 1.5rem;
}

.cube-inner {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transform: rotateZ(45deg);
}

.cube2 {
    bottom: 75px;
    left: calc(50% - 75px);
}

.cube2-outer {
    width: 150px;
    height: 150px;
    border: 1px dotted black;
}

.cube2-outer p {
    position: relative;
    top: calc(50% - 16px);
    font-size: 1.5rem;
}

.cube2-inner {
    position: relative;
    bottom: 150px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transform: rotateZ(45deg);
}

hr {
    margin-left: 0;
    border: none;
    height: 3px;
    color: grey;
    background-color: grey;
}

.blocks {
    margin-bottom: 200px;
}